.outerdiv {
  background: url("../assets/bg1.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;

  .searchbar {
    display: flex;
    background-color: rgba(0, 0, 0, 0.358);
    border-radius: 20px;
    overflow: hidden;
    border: none;
    align-items: center;
    margin: 0.5rem;
  }

  .searchbar:hover {
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
  }

  .searchbar input {
    width: 18.75rem;
    padding: 1.25rem;
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: 1rem;
  }

  .searchbar button {
    width: 3.125rem;
    height: 3.125rem;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    color: white;
  }

  .row {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    /* align-items: center; */

    .section1 {
      background-color: rgba(0, 0, 0, 0.358);
      border-radius: 10px;
      padding: 1.25rem;
      width: 40%;
      margin: 0.5rem;

      .section11 {
        display: flex;
        align-items: center;
        gap: 1.25rem;

        .weathericon {
          width: 6.25rem;
          height: 6.25rem;
          color: white;
        }

        .temp {
          font-size: 1.875rem;
          color: rgb(255, 234, 150);
        }

        .city {
          font-size: 1.875rem;
          color: rgb(221, 221, 221);
        }

        .weathertype {
          font-size: 2.5rem;
          color: rgb(221, 221, 221);
        }

        @media (max-width: 599px) {
          justify-content: space-evenly;
        }
      }
    }

    .section1:hover {
      background-color: rgba(0, 0, 0, 0.5);
      cursor: pointer;
    }

    .timediv {
      background-color: rgba(0, 0, 0, 0.358);
      border-radius: 10px;
      padding: 1.25rem;
      width: 40%;
      margin: 0.5rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .time {
        font-size: 3.75rem;
        color: rgb(248, 255, 186);

        @media (min-width: 595px) and (max-width: 690px) {
          font-size: 3.375rem;
        }

        @media (max-width: 342px) {
          font-size: 3rem;
        }
      }
    }

    .timediv:hover {
      background-color: rgba(0, 0, 0, 0.5);
      cursor: pointer;
    }

    @media (max-width: 599px) {
      .section1 {
        width: 100%;
      }

      .timediv {
        width: 100%;
      }
    }
  }

  .section2 {
    background-color: rgba(0, 0, 0, 0.358);
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .section21 {
      width: 45%;
      display: flex;
      justify-content: space-between;
      margin: 0.5rem;

      .head1 {
        font-size: 1rem;
        color: white;
      }

      .head2 {
        font-size: 1.5rem;
        color: rgb(240, 255, 141);
      }

      @media (max-width: 599px) {
        width: 100%;

        .head2 {
          font-size: 1rem;
        }
      }
    }
  }

  .section2:hover {
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
  }
}
